@import "tailwindcss";

@media(prefers-reduced-motion: no-preference) {
  * {
     scroll-behavior: smooth;
  }
}

.menu-path {
  transition: d 0.4s ease-in-out;
}

.login-slide-in {
  animation: sliding-in-login 500ms ease-in;
}

.signup-slide-in {
  animation: sliding-in-signup 500ms ease-in;
}

#homepage-section {
  background-image: url(assets/HomeBG.svg);
  background-size: 1rem;
}

#home {
  font-family: walter turncoat;
}

@keyframes sliding-in-login {
  0% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}

@keyframes sliding-in-signup {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
